# The values below this line do not need to be changed
###################################################################################
POSTGRES_DB=guacamole
POSTGRES_USER=guacamole_user
POSTGRES_PASSWORD=guac_password_change_me
